body{
	background-color: grey;
	margin: 0 auto;
	color: white;
	font-size: 200px;
	text-align: center;
}
#board{
	height: 800px;
	width: 800px;
	border: solid 2px black;
	display: inline-flex;
	flex-wrap: wrap;
}

.square{
	background-color: black;
	width: 32.833%;
	height: 32.833%;
	border: solid 2px white;
	line-height: 1.35;
}
#clear-board{
	width: 800px;
	margin: 10px;
	height: 40px;
	font-size: 20px;
}