body{
	background-color: white;
}
#board{
	height: 800px;
	width: 800px;
	border: solid 2px black;
	display: inline-flex;
	flex-wrap: wrap;
}

.square{
	background-color: black;
	width: 32.833%;
	height: 32.833%;
	border: solid 2px white;

}