body{
	background-color: grey;
	margin: 0 auto;
	color: white;
	font-size: 200px;
	text-align: center;
}
#board{
	height: 800px;
	width: 800px;
	border: solid 2px black;
	display: inline-flex;
	flex-wrap: wrap;
}

.square{
	background-color: black;
	width: 32.833%;
	height: 32.833%;
	border: solid 2px white;
	line-height: 1.35;
}
.winner{
	color: green;
	font-size: 250px;
	line-height: 1.09;
}
#clear-board{
	width: 800px;
	margin: 10px;
	height: 40px;
	font-size: 20px;
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 150px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0, 204, 3, 0.68); /* Black w/ opacity */
}

.modal-content {
    margin: auto;
    width: 80%;
    text-align: center;
    font-size: 100px !important;
}