body {
	display: flex;
	background-color: whitesmoke;
}

#container {
	width: 350px;
}
h3 {
	margin: 0 auto;
	font-weight: bold;
	font-family: 'Nunito Sans', sans-serif;
}

ul {
	border: 2px solid black;
	background-color: whitesmoke;
	width: 258px;
	margin: 10px;
	font-family: 'Nunito Sans', sans-serif;
}

#scoreboard {
	border: 2px solid black;
	background-color: whitesmoke;
	width: 300px;
	margin: 10px;
	font-family: 'Nunito Sans', sans-serif;
	text-align: center;
}
#board {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	border: 2px solid black;
	height: 800px;
	width: 800px;
	background-color: mediumaquamarine;
}

.square {
	background-color: whitesmoke;
	border: 1px solid black;
	margin: 18px;
	height: 225px;
	width: 225px;
	font-family: 'Nunito Sans', sans-serif;
	font-weight: bold;
	color: cornflowerblue;
	font-size: 60px;
	text-align: center;
	line-height: 225px;
	vertical-align: middle;
}

.o-class {
	font-family: 'Nunito Sans', sans-serif;
	font-weight: bold;
	color: khaki;
	font-size: 60px;
	text-align: center;
	line-height: 225px;
	vertical-align: middle;
}

button {
	font-size: 18px;
	font-family: 'Nunito Sans', sans-serif;
	font-weight: bold;
	text-transform: uppercase;
	background-color: palevioletred;
	border: 2px solid black;
	height: 60px;
	width: 200px;
	margin: 10px;
}