body {
	display: flex;
}
#board {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	height: 800px;
	width: 800px;
	background-color: mediumseagreen;
}

.square {
	background-color: whitesmoke;
	border: 1px solid black;
	margin: 18px;
	height: 225px;
	width: 225px;
	font-family: 'Nunito Sans', sans-serif;
	font-weight: bold;
	color: cornflowerblue;
	font-size: 60px;
	text-align: center;
	line-height: 225px;
	vertical-align: middle;
}

.o-class {
	font-family: 'Nunito Sans', sans-serif;
	font-weight: bold;
	color: palevioletred;
	font-size: 60px;
	text-align: center;
	line-height: 225px;
	vertical-align: middle;
}

#clear-board {
	font-size: 18px;
	font-family: 'Nunito Sans', sans-serif;
	font-weight: bold;
	text-transform: uppercase;
	background-color: khaki;
	border: 2px solid black;
	height: 60px;
	width: 200px;
	margin: 10px;
}